* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
body {
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.rond, li{
    background-color: white;
    border-radius: 15px;
    padding: 5px 5px;

}
.hide a {
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hide a:hover {
    background-color: rgba(0, 0, 0, 0.679);
    color: white;

}

ul {
    list-style-type: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

header img {
    width: 40px;

}

.php {
    width: 35px;
}

header img:hover {
    width: 50px;
    transition: 0.4s ease;
}

.home:hover {
    width: 50px;
    transition: 0.4s ease;
}


.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 10px 10px;

}



.menu ul {
    display: flex;
    justify-content: right;
    gap: 50px;
}

/*-------------------- Hide -----------------------------------------------------------------------*/

.hide {
    display: none;
}

/*---------------------BANNIERE------------------------------------------------------*/

h1 {
    font-size: 50px;
    text-align: center;
    position: relative;
    padding-left: 100px;
    color: black;


}

.background {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.background::before {
    content: '';
    background-image: url(../images/banniere.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.background:hover {
    height: 60vh;
    transition: 0.5s ease;
}

/*  --------- CONTACT --------------------*/
h2,
h3 {
    font-size: 35px;
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-size: 20px;
    margin-bottom: 50px;
}
label {
    font-size: 20px;
    margin-bottom: 10px;
}
.contact {
    margin: auto;
    text-align: center;
    
}
.formulaire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    

}

input {
    text-align: start;
    border: 1 solid black;
    border-radius: 10px;
    width: 30%;
    padding: 5px 0px;
    margin: 10px auto;
    font-size: 20px; 
    
}

.send {
    margin-top: 25px;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1 solid black;
    border-radius: 10px;
    padding: 10px 70px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.send:hover {
    transition: 0.2s ease;
    background-color: rgba(0, 0, 0, 0.724);
    color: white;
}

.conteneurContact {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    color: black;
    }

    .conteneurContact {
        background-color: white;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-around;
        color: black;
    }
    
    .conteneurContact article {
        padding: 60px;
        flex: 1;
    }

    .conteneurContact p {
        margin-bottom: 20px;
        font-size: 10px;
        text-align: center;
        margin-top: 10px;
    }
    
    .conteneurContact img {
        width: 60px;
        text-align: center;
        margin-bottom: 10px;
    }

    .conteneurContact article {
    padding: 60px;
    flex: 1;
}

.conteneurContact article {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 60px;
    flex: 1;
}


/*-----------BOUTON DARK-MODE-----------*/



.dark {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 5px 10px;
    border-radius: 25px;
    background: white;
    color: black;
    font-size: 18px;
    font-weight: bold;
   font-family: Arial, Helvetica, sans-serif 
}


.copyright{

    background-color: black;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: auto ;
    padding-top: 16px;
    padding-bottom: 15px;
    font-size: 20px;
    width: 100%;
}




/*----     RESPONSIVE             --*/


@media (max-width: 500px) {

    .menu {
        display: none
    }
    header {
        width: 100vw;
        padding: 0;
    
    }

    .hide {
        height: 100px;
        display: flex;
        justify-content: space;
        align-items: center;
        gap: 20px;
        font-weight: bold;
        width: 100%;
        padding: 0px;
        margin: 0;
        font-size: 15px;

    }

    .home {
        display: none;
    }

    .background {
        display: none;
    }

    p {
        text-align: center;
        font-size: 15px;
        margin: 5px 0;
    }

    input {
        width: 70%;
        font-size: 20px;
    }

textarea {
    width: 80%;

}

h2, h3 {
    font-size: 30px;
}

.conteneurContact {
    display: flex;
    justify-content: center;
    align-items: center;



}
.conteneurContact img {
    width: 30px;

}
.conteneurContact article {
    padding: 0;
}